@mixin table-header-common {

  //Table header - filter text field style
  .filter-box {
    height: 25px !important;
    transition: width .5s ease-in-out;
    float: right;
    border-radius: $v-border-radius;
  }

  .filter-box:focus:after {
    box-shadow: none !important;
    border-radius: $v-border-radius !important;
  }

  .filter-box-hide {
    width: 0 !important;
    padding: 0 !important;
    border-width: 0 !important;
  }

  //Search rest icon color
  .filter-reset-icon {
    color: $red-color;
  }
  
  //Layout - with no bottom border
  .no-border-bottom {
    border-bottom: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .bordered-layout {
    border: 1px solid $widget-border-color;
    border-radius: $v-border-radius;
    width: 500px;
    background-color: #fafafa;
  }
}
